@mixin widget-area--display-as-line {
	@include border(normal, top);

	border-width: 2px;
	position: relative;

	.product-categories {
		@include ul;

		width: 100%;
		display: flex;
		justify-content: space-between;

		position: absolute;
		top: calc(-#{$lem / 2 + $lem / 8});

		.cat-item {
			@include text-style(action);
		}
	}
}
