@mixin widget-area--display-as-line {
	@include border(normal, top);

	position: relative;

	.product-categories {
		@include ul;

		width: 100%;
		display: flex;
		justify-content: space-between;

		position: absolute;
		top: -$lem / 2;

		.cat-item {
			@include text-style(action);
		}
	}
}
