@mixin list--horizontal-mixed-items($margin-right: yes, $margin-bottom: yes) {
	display: flex;
	flex-wrap: wrap;

	> * {
		@include margin(no, $margin-right, $margin-bottom, no);

		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;

		&:last-child {
			@include margin(no, no, $margin-bottom, no);
		}
	}
}
