{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "indentation": "tab",
	"max-nesting-depth": 4,
	"order/properties-alphabetical-order": null,
	"selector-no-qualifying-type": null
  }
}
