@mixin product-information {
	.woocommerce-loop-product__title {
		@include text-style(product-title);
	}

	.price {
		@include border(normal, all);
		//@include padding;

		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: $lem * 3;
		height: $lem * 3;

		position: relative;

		.amount {
			position: absolute;
		}
	}

	.product-short-description {
		@include margin(no, no, no, yes);
		@include padding(yes, no, yes, yes);
		@include border(normal, left);
	}
}
