@mixin site-header-grid--navigation-visible {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;


	.secondary-navigation,
	.storefront-primary-navigation {
		width: calc(((100% - #{$lem * 2}) - 400px) / 2);
	}

	.storefront-primary-navigation {
		order: -1;
	}
}
