/**
 * The default skin
 *
 * - black on white
 * - minimalist and brutalist look
 *
 * Enabling a skin / theme is done in `style.scss`
 * Example: `@import 'assets/scss/themes/white.scss';`
 *
 */


/**
 * Colors
 */

// Default colors
//
$background-color: #fff;
$text-color: #000;
$gray: lighten($background-color, 50%);


/**
 * Fonts
 */

// For text
//
$body-font: 'chaparral-pro';

// For code inside text
//
$monospace-font: 'chaparral-pro';

// For site title (only used there)
//
$title-font: 'chaparral-pro';



/**
 * Typography
 *
 */

// The basic spacing unit
// - Every `padding` and `margin` will use this
$lem: 1.25em;

// The scale for bigger and smaller font sizes
// - http://www.modularscale.com/
$scale: 'major-third';

// Different line heights for different text types
//
$line-height: 1.5;
$line-height-larger: 1.8;
$line-height-smaller: 1.1;

// Different letter spacings for different text types
$letter-spacing: 1.25px;
$letter-spacing-larger: 2.5px;
$letter-spacing-extra-large: $lem / 2;

// Button padding
// - buttons won't use the `padding()` mixin
// - that mixin is for spacing elements, not to space a single element like a button
$button-padding: $lem / 4 $lem / 2;



/**
  * Layout
  *
  */

// We have a `margin()` and a `padding()` mixin
// - by using that mixin we can have a responsive spacing throughout the site
// - $top, $left are used from mobile and up (tablets, laptops, desktops)
// - $top-mobile, $left-mobile are used on mobile screens
$top: $lem * 2;
$left: $lem * 2;
$top-mobile: $lem;
$left-mobile: $lem;

// Image width is the thing we build the design around.
// - it has a fixed size of 464px;
$image-width: 464px;
$max-content-width: calc(#{$image-width * 3} + #{$left * 2});

// Product categories is a slider with horizontal scrollbar
// - it needs as input the width of the slider items
// - which must be the length of the longest category
$product-categories-slider-width: $lem * 7;



/**
 * Decorations
 *
 */

// Border size
// - borders are the main design element of the theme
// - here you can seriously alter the look and feel of the site
$border-normal: 1px solid;
$border-thin: $lem / 16 solid;
$border-thick: $lem / 8 solid;
