@mixin post-format-summary {
	@include post-with-sidebar-removed;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	.post-sidebar-left {
		order: 1;
	}

	.post-content-between-sidebars {
		@include border(normal, all);
		@include padding;
		@include margin(half, no, no, no);

		order: 2;
		width: 100%;
	}
}
