@mixin list--horizontal-mixed-items-margin-left($margin-left: yes, $margin-bottom: yes) {
	display: flex;
	flex-wrap: wrap;

	> * {
		@include margin(no, no, $margin-bottom, no);
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;

		+ * {
			@include margin(no, no, $margin-bottom, $margin-left);
		}

		&:last-child {
			@include margin(no, no, no, no);
		}
	}
}
