@mixin archive-year-and-months($padding: half) {
	@include list--horizontal-mixed-items(half, no);

	align-items: center;
	flex-wrap: nowrap;
	width: 100%;

	.archive-year,
	.archive-month {
		min-width: $lem * 3; // Do not break 2018 into 210 and 8
	}

	.archive-month-list {
		@include list--horizontal('.archive-month', half, half);
		@include border(normal, all);
		@include padding($padding, no, no, $padding);

		align-items: center;
	}
}
