@mixin comment {
	width: 100%;
	
	.comment-content {
		@include padding;
		@include border(normal, all);

		.text {
			@include text-style(body-text-post);
		}
	}

	.comment-permalink {
		display: flex;
		justify-content: center;
	}
}
