// Common settings for all pages
//
// This is where we set up all basic styles and parts of the site
//
//
@include html-css-reset;

html {
	@include grid-reset;

	body {
		@include typography-reset;
		@include form-reset;
		@include form;
		@include text-style(default);

		@include padding;

		display: flex;
		justify-content: center;

		.site {
			@include site;
		}

		.site-header {
			@include site-header;
		}

		.site-content {
			@include site-content;
			//display: none;
		}

		.site-footer {
			@include site-footer;
		}

		// Common classes
		.hidden {
			display: none;
		}

		// Wordpress specific
		.screen-reader-text {
			display: none;
		}
	}
}
