@mixin home {
	display: flex;
	flex-direction: column;
	align-items: center;

	@include mobile {
		width: 100%;
	}

	.post-list--with-comments {
		@include post-list--with-comments;
	}

	// We need to reinforce the width here,
	// because post sidebar enlarges the container
	.post-format-comment,
	.navigation {
		@include laptop {
			max-width: $post-width;
		}

		@include desktop {
			max-width: $post-width;
		}
	}
}
