@mixin post-format-chat {
	.post-content-between-sidebars {
		@include mobile-and-up {
			@include post-content-between-sidebars--display-vertical;
		}

		.post-content {
			.text {
				@include margin(yes, no, no, no);

				display: flex;
				flex-direction: column;

				p {
					@include border(thin, all);
					@include colors(default);
					@include padding;
					max-width: 70%;

					// TODO: On large text quotes the top-right border is missing
					transform: translateX($lem / 2) skew(5deg);

					@include mobile {
						@include scale(small-1);
					}

					&:nth-child(even) {
						align-self: flex-end;
						transform: translateX(-$lem / 2) skew(-5deg);
					}
				}
			}
		}
	}
}
