@mixin ul--horizontal($margin: $lem) {
	align-items: center;
	display: flex;
	flex-wrap: wrap;

	.li,
	li {
		margin-bottom: $margin;
		margin-right: $margin;

		+ .li,
		+ .li {
			margin-left: 0;
		}
	}
}
