@mixin sidebar {
	@include background-pattern($sidebar-pattern, $sidebar-pattern-color);
	@include padding(yes, no, yes, no);
	@include margin(yes, no, no, no);

	display: flex;
	justify-content: center;
	width: 100%;

	.sidebar-title {
		display: none;
	}

	.sidebar-widget-list {
		@include list('.widget-list-title', '.widget-list-items', mixed, $show-title: false);

		display: flex;
		flex-direction: column;
		align-items: center;

		.widget-list-items {
			@include widget-list;
		}
	}
}
