@mixin woocommerce-pagination {
	@include margin(yes, no, no, no);
	//@include colors(inverted);
	@include background-pattern--dotted-white;

	display: flex;
	justify-content: center;

	ul {
		@include ul;
		@include ul--horizontal;
		@include padding(quarter, no, quarter, no);

		li {
			margin-bottom: 0;

			span,
			a {
				@include padding(half, half, half, half);
			}

			a {
				&.prev,
				&.next {
					display: none;
				}
			}

			span {
				&.current {
					@include colors(default);
					@include border(normal, all);
				}
			}
		}
	}
}
