@mixin woocommerce-pagination {
	@include margin(yes, no, no, no);
	@include border(normal, top);

	@include mobile {
		margin: $lem * 3 0 $lem;
	}

	display: flex;
	justify-content: center;
	position: relative;

	ul {
		@include ul;
		@include ul--horizontal;
		@include padding(quarter, no, quarter, no);

		position: absolute;
		top: -$lem;

		li {
			margin-bottom: 0;

			span,
			a {
				@include padding(half, half, half, half);
			}

			a {
				&.prev,
				&.next {
					display: none;
				}
			}

			span {
				&.current {
					@include colors(default);
					@include border(normal, all);
				}
			}
		}
	}
}
